.about{
    display: flex;
    margin:2%;
    flex-direction: column;
    text-align: left
}
.about1{
    background-color: #16163f;
    color: rgb(247, 243, 232);
    padding:2%;
    margin-bottom:2%;

}

.about2{
    background-color: #16163f;
    color: rgb(247, 243, 232);
    padding:2%

}
h2{
    border:1px #0a0a2e solid ;
    color:rgb(247, 243, 232);
    text-align:center
}



