.Twodspace {
    position: relative;
    margin: 0 auto;
    background-color: #0a0a2e;     
    background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 3px);
  }

  .controls{
    padding:2.5%;
    display:flex;
    justify-content: space-evenly;
    padding:2%; 
    font-size:15px;   
  }
  .updateInput{    
      padding-left:18.5%;       
  }

  .buttons{
    width:50%;
    margin-right: 3%;
  }
  .button{
    margin:1%;
    background-color:#dfdfe7;
    border: black 1px solid;
    border-radius:5px;   
    font-size:15px; 
  }
  .button:hover{
      background-color:#0a0a2e;    
      color:#b8cf77;
  }
  .input{
      margin:2%;
      width: 25%;
      
  }
  .Cell {
    background: #ccc;
    background-color: #b8cf77;
    /* background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%); */
    position: absolute;
  }