.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#0a0a2e;
    align-items: center;    
    margin-bottom:2%; 
    padding:2.5%;  
}

  .link{    
    color:white;
    background-color:#a8382f;      
    font-size: large;
    font-style: oblique;
    margin-left:100px;
    border: 1px white solid;
    text-decoration: none;
    padding:2.88%;
    border-radius: 6px;
  }
  .link:hover{
      padding:5%;      
      background-color:white ;
      color:#a8382f;
      
  }  

  
