.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#b8cf77;
    align-items: center;    
    margin-bottom:2%;   
}

h1{  
    color:#0a0a2e;
    padding:0.5%;
    width:100%;
    margin-left: 52%;
    font-style: oblique;
  }

  .link{
    color:#0a0a2e;     
    font-size: large;
    font-style: oblique;
    margin-left:100px;
    border: 1px #0a0a2e solid;
    text-decoration: none;
    padding:1.88%;
    border-radius: 6px;
  }
  .link:hover{
      padding:4%;      
      background-color:#0a0a2e ;
      color:#b8cf77;
  }  

  .link1{
      margin-left:300px;
      padding:0.6%;
      border-radius: 6px;
  }

  .link1:hover{
    padding:2%;
    background-color:#0a0a2e ;
    color:#b8cf77;
  }

  
