.header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color:#0a0a2e;
    align-items: center;    
    margin-bottom:2%; 
    padding:2.5%;  
}

  .link{  
    display: block;
    width: 120px;   
    color:white;
    background-color:#a8382f;      
    font-size: x-large;
    font-style: oblique;
    margin-left:100px;
    border: 1px white solid;
    text-decoration: none;
    padding:3% 8% 6% 8%;
    border-radius: 6px;
  }
  .link:hover{
     
      background-color:white ;
      color:#a8382f;      
  }  

  
